@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p style="margin-left:12px;margin-right:12px;">
    Hello, my name is Alexander Krasowski.
    I have over 3 years of experience as a business intelligence developer and I am trying to brush up on my Front end experience by trying my hand at some projects.
    Mainly I have experienced with SQL & C# having worked primarily in the Microsft tech stack. I live in Windsor with my wonderful wife (Marissa) and our golden doodle(Winnie).

    Besides coding I enjoy: tennis, Camping , Reading (scifi & fantasy) and indulging in Netflix .




</p>

<br>
<br>
<br>