@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title.</h2>


<center>

    <a href="https://www.linkedin.com/in/alexander-krasowski-47722168">
        <img src="~/Content/Images/LI-In-Bug.png" / height = "42" Width = "46">
    </a>

    <br />
    <br />

    <a href="https://github.com/dw0695">
        <img src="~/Content/Images/GitHub-Mark-32px.png" />
    </a>

    <address>
       
        <strong>Support:</strong>   <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#097;&#108;&#101;&#120;&#097;&#110;&#100;&#101;&#114;&#107;&#114;&#097;&#115;&#111;&#119;&#115;&#107;&#105;&#046;&#099;&#111;&#109;"> &#105;&#110;&#102;&#111;&#064;&#097;&#108;&#101;&#120;&#097;&#110;&#100;&#101;&#114;&#107;&#114;&#097;&#115;&#111;&#119;&#115;&#107;&#105;&#046;&#099;&#111;&#109;</a><br />

    </address>

</center>

<br>

<br>

<br>

<br>