
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Alexander Krasowski's homepage</h2>

<br />
<h3> List of Experince:</h3>
<div style="margin-left:12px;margin-right:12px;">

    <p>
        <h4>
            ChannelVantage – Consultant SSO Team August 2017 – Present (SQL, SSRS, SSIS, C#)
        </h4>
        
            ●	Worked on the launch of our product (ServiceSmarts Online) for the GM South America market which included: developing new ETL processes for new data feeds, creating and updating tables, rewriting numerous stored procedures to work with different countries, communicating with clients, and helping coordinate junior team members.
            <br />
            ●	Worked on Gm My Rewards & OnStar Reactivation – incorporated a new data feed and created the etl process to push data up to the data mart. Coordinated with clients and performed testing
            <br />
            ●	Worked on creating Included Maintenance Exhibits which involved creating SQL stored procedures and tables to calculating and displaying Dealer Included Maintenance numbers and their rollups.
            <br />
            ●	Running the US sustain process (ETL) which requires the loading transforming and launching of the GM US SSO Product. Also making repairs, change requests and knowledge shares with other employees when needed.


</p>
    <br />
    <p>
        <h4>
            ChannelVantage – Analyst Data Team August 2016 – August 2017 (SQL, SSIS, C#)
            </h4>

            ●	Rewrote the FTP download SSIS packages to accommodate GM’s FTP Sterling Migration Project consolidating multiple SSIS packages into a central solution.
            <br />
            ●	Created a SQL report (Cadillac Scorecard) and later moved it to an SSIS package.
            <br />
            ●	Maintained several ETL solutions such as DCR and Masterfile by running import processes, investigating errors and adding time-saving automation where possible.
            <br />
            ●	Worked with Maritz to import GM’s new Customer Satisfaction Index for one of our internal customers.
            <br />
            ●	Converted older tech stack DTS packages to newer DTSX format.



</p>
    <br />
    <p>
        <h4>
            Omnitracs – Associate Software Engineer July 2015 – August 2016 (Classic ASP, .Net and SQL)
        </h4>
            
            ●	Made changes to Quick-Books Integrations for both Cloud and desktop solutions.
            <br />
            ●	Created a tax import feature for the company quick-books integration.
            <br />
            ●	Worked in a Technical Support Engineer role which would involve finding and fixing bugs.
            <br />
            ●	Worked in a QA role on a position to migrate existing TMS solution to a new database.




</p>
    <br />
    <p>
        <h4>
            Lambton College – Programmer February 2014 - June 2015. (C#, SQL, .Net, Unidata)
        </h4>
          
            ●	Updated .Net applications to run off SQL server database after migrating from Unidata.
            <br />
            ●	Wrote new SQL queries to model Unidata functionality and then tested these changes.





</p>
    <br />
    <p>
        <h4>B.Sc. in Computer Science from Wayne State (December 2013) .</h4>




    </p>

</div>